body {
  background-color: hsl(257, 40%, 49%);
  margin-top: 0;
  height: auto;
  width: 1440px;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

.mockups {
  position: absolute;
  top: 150px;
  left: 50px;
}

h2 {
  color: white;
  font-size: 45px;
  position: absolute;
  top: 200px;
  right: 50px;
  width: 35%;
}

.text-block {
  color: white;
  right: 50px;
  position: absolute;
  top: 400px;
  font-size: 20px;
  width: 35%;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #594b7d;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  position: absolute;
  right: 440px;
  text-decoration: none;
  top: 500px;
}

.btn:hover {
  background: #594b7d;
  background-image: -webkit-linear-gradient(top, #594b7d, #594b7d);
  background-image: -moz-linear-gradient(top, #594b7d, #594b7d);
  background-image: -ms-linear-gradient(top, #594b7d, #594b7d);
  background-image: -o-linear-gradient(top, #594b7d, #594b7d);
  background-image: linear-gradient(to bottom, #594b7d, #594b7d);
  color: #ffffff;
  text-decoration: none;
}

.fa-facebook-f {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  right: 200px;
}

.fa-twitter {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  right: 160px;
}

.fa-instagram {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 40px;
  right: 125px;
}
